
.cartItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;

    padding: 16px;
    max-width: 610px;
    width: 100%;

    border-bottom: 1px solid #32253F;
}

.cartItem_image {
    width: 123px;
    height: 105px;
}

.cartItem_info {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cartItem_info_name {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 12px;
}

.cartItem_info_name p {
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 500;

    color: #32253F;
    cursor: pointer;

    min-height: 48px;
    width: 100%;
}

.cartItem_info_prices p {
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 500;

    color: #32253F;
}

.cartItem_info_prices span {
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 400;

    color: #32253F;
    opacity: 30%;
    text-decoration: line-through;
}

.cartItem_info_prices {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 20px;
}

@media (max-width: 641px) {
    .cart_content {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .cartItem_image {
        width: 61px;
        height: 52px;
    }

    .cartItem_info_name p {
        font-family: 'Rubik';
        font-size: 16px;
    }

    .cartItem {
        max-width: 280px;
    }

    .cartItem_info_prices {
        flex-direction: column;
    }
}