@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: 'LiteratureDecor';
  src: url('./assets/fonts/Literature-Decor.ttf');
}

*:link {
    text-decoration: none;
}


h1 {
  font-family: 'LiteratureDecor';
  font-size: 70px;
  color: #628871;
  /* font-weight: 300; */
  font-weight: lighter;
}

h2 {
  font-family: 'LiteratureDecor';
  font-size: 40px;
  color: #628871;
  font-weight: 300;
}

h3 {
  font-family: 'Rubik';
  font-weight: 400;
  color: #383838;
  font-size: 24px;
}

h4 {
  font-family: "Rubik";
  font-weight: 400;
  color: #383838;
  font-size: 18px;
}

li {
  font-family: "Rubik";
  font-weight: 400;
  color: #383838;
  font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
